
@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* Reset all styles */
* {
    border: none;
    /* border-radius: 0; */
    min-height: 0;
    margin: 0px;
    padding: 0;
    color: white;
    background-color: black;
   /*  font-weight: bold; */
}


window#waybar {
  font-family: MesloLGMDZ Mono Nerd Font;
  font-size: 14px;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#window,
#custom-power,
#workspaces,
#custom-media,
#custom-updates,
#custom-PBPbattery {
    padding:0.25rem 0.75rem;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu {
    /* color: #435B66; */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* color: #435B66; */
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#workspaces {
    font-size:18px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    margin-left: 2;
    margin-right: 2;
    color: black;
}

#workspaces button.active {
  background-color: cyan;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
